/* Error: expected "{".
 *     ,
 * 117 | >>>>>>> f7b2bc1618462b18ce822e558b848f324e62ecd9
 *     |                                                 ^
 *     '
 *   scss\block\_header.scss 117:49  @import
 *   scss\block\_block.scss 1:9      @import
 *   scss\style.scss 6:9             root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a     \2577 \a 117 \2502  >>>>>>> f7b2bc1618462b18ce822e558b848f324e62ecd9\d\a     \2502                                                  ^\a     \2575 \a   scss\\block\\_header.scss 117:49  @import\a   scss\\block\\_block.scss 1:9      @import\a   scss\\style.scss 6:9             root stylesheet';
}
