.price {
  margin-top: 160px;
  &__title {
    margin-bottom: 64px;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;

    letter-spacing: 1.14286px;
    text-transform: uppercase;
    text-align: center;

    color: #000000;
  }
  &__list {
    display: flex;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 35px;
  }
  &__images {
    width: 90%;
    padding: 50px 100px 50px 90px;
    background: #f1f1f1;
    border-radius: 8px;
    text-align: center;
    margin: 0;
  }
  &__img {
    width: 100%;
  }
  &__img1 {
    width: 85%;
  }
  &__img2 {
    width: 70%;
  }
  &__img--page1 {
    width: 95%;
  }
  &__img--page2 {
    width: 75%;
  }
  &__img--page3 {
    width: 100%;
  }
  &__mark1 {
    width: 148px;
    height: 193px;
  }
  &__mark2 {
    width: 175px;
    height: 195px;
  }
  &__xx59 {
    width: 190px;
    height: 195px;
  }
  &__zx9 {
    width: 143px;
    height: 190px;
  }
  &__zx7 {
    width: 133px;
    height: 191px;
  }
  &__subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

    letter-spacing: 1.71429px;
    text-transform: uppercase;

    color: #000000;
  }
  &__button {
    @include button;
  }
  @media only screen and (max-width: 769px) {
    &__images {
      width: 223px;
      height: 318px;
      margin-left: 11px;
      padding: 60px 0;
    }
    &__mark1 {
      padding: 0;
      margin: 0;
      width: 148px;
      height: 193px;
    }
  }
  @media only screen and (max-width: 426px) {
    &__list {
      flex-direction: column;
    }
    &__images {
      width: 327px;
      height: 120px;
      padding: 10px 0;
    }
    &__mark1 {
      width: 73px;
      height: 95px;
    }
    &__mark2 {
      width: 86px;
      height: 96px;
    }
    &__button {
      margin-bottom: 56px;
    }
    &__xx59 {
      width: 79px;
      height: 83px;
    }
    &__zx9 {
      width: 72px;
      height: 86px;
    }
    &__zx7 {
      width: 60px;
      height: 87px;
    }
  }
}
