.header {
  &__burgers {
    display: none;
  }
  background-color: $Black;
  padding: 35px 0;
  &__logo {
    display: flex;
    align-items: center;
    // gap: 42px;
  }
  &__hamburger {
    display: none;
    flex-direction: column;
    row-gap: 3px;
  }
  &__hr--hamburger {
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 1.5px;
  }
  &__nav {
    display: flex;
    justify-content: space-between;
    border-bottom: #ffffff;
  }
  &__content {
    display: flex;
    align-items: center;
    gap: 197px;
  }
  &__list {
    display: flex;
    gap: 34px;
  }
  &__link {
    font-weight: 700;
    font-size: 13px;
    line-height: 25px;

    letter-spacing: 2px;
    text-transform: uppercase;

    color: #ffffff;
  }
  &__link:hover {
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #d87d4a;
  }
  &__hr {
    opacity: 0.5;
    margin-top: 36px;
  }
  @media only screen and (max-width: 769px) {
    &__logo {
      gap: 42px;
    }
    &__hamburger {
      display: flex;
    }
    &__hr {
      display: none;
    }
    &__list {
      display: none;
    }
  }
  @media only screen and (max-width: 426px) {
    &__logo {
      gap: 100px;
    }
  }
}
